:root {
  @keyframes rotateBgImg {
    0%,
    50%,
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
      transform-origin: center;
    }

    25% {
      transform: translate(-50%, -50%) rotate(-45deg);
      transform-origin: center;
    }

    75% {
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: center;
    }
  }
}
