.aside {
  .VPDocAside {
    .content {
      border-left: none;

      .outline-marker {
        left: 0px;
        width: 4px;
        height: 14px;
        border-radius: 10px;
        transform: translateY(2.5px);
      }
    }
  }
}
