:root {
  .VPHero.has-image .name {
    font-family: "AlimamaShuHeiTi";
  }

  .VPHero.has-image .text {
    font-family: "AlimamaShuHeiTi";
    color: var(--vp-home-hero-text-color);
    background-image: var(--vp-home-hero-text-background);
    -webkit-background-clip: text;
  }

  .VPHero.has-image .image-bg {
    animation: rotateBgImg 4s infinite linear;
  }
}

/* 图片点击放大优先级调整 */
.medium-zoom {
  &-overlay,
  &-image {
    z-index: 999 !important;
  }
}
