:root {
  --vp-c-purple: #2196f3;
  --vp-c-purple-light: #42a5f5;
  --vp-c-purple-lighter: #64b5f6;
  --vp-c-purple-dark: #1e88e5;
  --vp-c-purple-darker: #1976d2;

  --vp-c-brand-1: #2196f3;
  --vp-c-brand-2: #2196f3;
  --vp-c-brand-3: #64b5f6;

  /* 设置字体颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #1976d2, #64b5f6);

  --vp-home-hero-text-color: transparent;
  --vp-home-hero-text-background: linear-gradient(
    to right,
    #1976d2 0%,
    #64b5f6 25%,
    #1976d2 50%,
    #64b5f6 75%,
    #1976d2 100%
  );

  --vp-home-hero-image-background-image: linear-gradient(45deg, #1976d2 50%, #ff7a97 50%);
  --vp-home-hero-image-filter: blur(150px);

  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-light: var(--vp-c-purple-light);
  --vp-c-brand-lighter: var(--vp-c-purple-lighter);
  --vp-c-brand-dark: var(--vp-c-purple-dark);
  --vp-c-brand-darker: var(--vp-c-purple-darker);

  --quotation-color1: #1976d2;
  --quotation-color2: #ff7a97;
}

:root {
  /* 自定义滚动条样式 */
  /* 修改滚动条颜色 */
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  /* 鼠标悬停时的滚动条滑块样式 */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  // 代码块横向滚动条
  div[class|="language"] {
    ::-webkit-scrollbar {
      height: 6px;
    }
  }
}

:root.dark {
  /* 在深色模式下自定义滚动条样式 */
  ::-webkit-scrollbar-track {
    background: #2c2c2c;
  }
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

:root {
  ul:not([class]) {
    margin-left: 20px;
  }

  .vp-doc :not(pre) > code {
    color: var(--vp-c-purple);
  }

  /* 宽度调整 文章页 */
  --vp-layout-max-width: 1650px;
  .VPDoc.has-aside .content-container {
    max-width: 100%;
  }

  /* 宽度调整 导航单页 */
  .VPDoc:not(.has-sidebar) .container {
    max-width: 1580px;
  }
  .VPDoc:not(.has-sidebar) .content {
    max-width: 100%;
  }
}

// :root {
//   --vp-layout-max-width: 1650px;

//   .VPDoc.has-aside .content-container {
//     max-width: inherit;
//   }
// }

// :root {
//   --vp-layout-max-width: 100%;
//   --vp-sidebar-width: 15rem;
//   --vp-nav-height-desktop: 50px;

//   .content-container {
//     max-width: 100% !important;
//   }
//   .container {
//     max-width: var(--vp-layout-max-width) !important;
//   }
// }
